ol {
  margin-left: -40px;
  margin-top: 100px;
  list-style-position: inside;
}

p{
  color: purple;
}

.note{
font-size: 25px;
}

#id-selector-demo{
  color: green;
}

li[value="4"]{
  color: blue;
}

body{
  text-align: center;
}
/* Write your CSS below, don't change the rules above. */
