div{
height: 200px;
width: 200px;
}

.div1{
    background-color: cadetblue;
    padding: 20px;
    border: 10px solid black;
}

.div2{
    background-color: gold;
    border-width: 20px 10px;
    border-color: black;
    border-style: solid;
    margin-left: 260px;
}

.div3{
    background-color: indianred;
    border: 10px solid black;
    margin-left: 40px;
}

p{
    margin: 0px;
}